@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Roboto&family=Roboto+Condensed&display=swap');

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  line-height: 1.6;
  background-color: #161616;
  color: white;
}

code {
  border-radius: 5px;
  background-color: #eee;
  display: inline-block;
  padding: 0 8px;
  font-family: Consolas, Courier, monospace;
}

h1 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  line-height: 1;
  font-size: 42px;
  margin: 20px 0;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  color: #DEDEDE;
  border-bottom: 1px solid #373737;
  padding-bottom: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 auto 23px auto;
  color: #DEDEDE;
  text-align: center;
  max-width: 450px;
}

a {
  text-decoration: none;
  color: #04daff;
}

nav {
  position: fixed;
  /* top: 0; */
  z-index: 2;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #373737;
  backdrop-filter: blur(5px);
}
.brand {
  margin-left: 4vw;
  margin-bottom: 0;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 4vw;
}
.nav-right p {
  margin-right: 20px;
  margin-bottom: 0;
}
.nav-right p:hover {
  color: white;
  cursor: pointer;
}
.large-screen-nav {
  display: static;
}
.small-screen-nav {
  display: none;
  color: #DEDEDE;
  font-size: 20px;
  line-height: 23px;
  padding-right: 10px;
}

@media only screen and (max-width: 605px) {
  .large-screen-nav {
    display: none;
  }
  .small-screen-nav {
    display: block;
  }
  h1 {
    font-size: 50px;
  }
}
